.form
{
    width: 45%;
}

.label
{
    font-weight: bold;
}

.accordion
{
text-align: center;
font-weight: bold;
}

.innerpanel
{
    text-align: center;
}

.workout
{
    color: chocolate;
    font-size: 35px; 
    font-weight: bold;
}


/* Style the buttons that are used to open and close the accordion panel */
.accordion {
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    text-align: left;
    border: none;
    outline: none;
    transition: 0.4s;
  }

  .css-container {
    width: 100%;
    text-align: center;
    
  }
  
  /* Add a background color to the button if it is clicked on (add the .active class with JS), and when you move the mouse over it (hover) */
  .active, .accordion:hover {
    background-color: #ccc;
  }
  
  /* Style the accordion panel. Note: hidden by default */
  .panel {
    padding: 0 18px;
    background-color: white;
    display: none;
    overflow: hidden;
  }

  .colorbar {
    background-color: #711521;
    color: white;
  }

  ul {
    list-style: none;
  }
  
  ul li:before {
    content: '✓';
    color: #711521;
    font-weight: bold;
    font-size: larger;

  }


  hr { 
    display: block;
    margin-top: 0.1em;
    margin-bottom: 0.1em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
    border-color: black;
} 